* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 72px;
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    top: 0px;
    z-index: 100;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #1d1d1d;
}

li {
    list-style-type: none;
}

select {
    width: 227px;
    height: 40px;
    background: #3b3b3b;
    border-radius: 2px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 22px;
}

button {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    width: 78px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    /*align-items: center;*/
    text-align: center;
    color: #1d1d1d;
}

hr {
    height: 1px;
    background: #ffffff;
    opacity: 0.4;
}

.hashteg {
    font-size: 16px;
}

.social-linsk {
    display: flex;
    align-items: center;
}

.social-linsk li {
    margin-right: 12px;
}

.social-linsk li a img {
    transition: .3s;
}

.social-linsk li:hover a img {
    transform: scale(1.1);
}

.hashteg span {
    color: #49A144;
}

.box-container {
    max-width: 969px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons_wrap {
    display: flex;
    align-items: center;
}

.basket {
    margin-left: 16px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-search {
    border-bottom: 1px solid;
}

.form-search input {
    all: unset;
}

.search {
    padding-top: 128px;
    color: #757575;
}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    padding-top: 56px;
    color: #1d1d1d;
}

.menu {
    padding-top: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    display: inline-block;
    padding: 6.06px;
    line-height: 26px;
    height: 366px;
    width: 308px;
}

.name {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #1d1d1d;
}

.price {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #626262;
}

.time {
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #1d1d1d;
}

.logo-footer {
    padding-top: 56px;
    padding-bottom: 40.31px;
}

.contact-information {
    margin-top: 32px;
    padding-bottom: 48px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    display: flex;
    color: #ffffff;
}

.information {
    text-align: left;
    line-height: 35px;
    margin-right: 115px;
    display: flex;
    flex-direction: column;
}

.information a:hover {
    text-decoration: underline;
}

.buttons-container {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 41px auto 39px;
}

.button-store {
    margin: 0px 20px;
    /* отступы между кнопок */
}


/* обращаемся к картинкам от "а" что бы задать им размер */

.button-store img {
    max-width: 100px;
    width: 100%;
    transition: 0.4s;
}

.button-store:hover img {
    transform: scale(1.1);
}

.personal-data {
    padding: 40px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #ffffff9a;
}

.data {
    margin-right: 165px;
}

.topbutton {
    width: 80px;
    height: 80px;
    position: fixed;
    right: 16px;
    bottom: 24px;
    background: #59bd5a;
    cursor: pointer;
    color: #ffffff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbutton img {
    width: 15px;
    height: 25px;
}

@media screen and (max-width: 768) {
    .box-container {
        padding: 0px 20px;
    }
    .product {
        width: 48%;
    }
    .product img {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .product {
        width: 100%;
    }
    .product img {
        width: 100%;
        height: 246px;
        object-fit: cover;
    }
}


/* ==================== закуски ==================== */

.name_restaurant {
    margin-top: 72px;
    background: url(/image/photo_restaurant.png) no-repeat center top / cover;
    width: 100%;
    height: 364px;
    display: flex;
    align-items: center;
}

.name_restaurant_wrap {
    width: 313px;
    height: 128px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    margin: 80px 0px;
    padding: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name_restaurant_wrap h2 {
    display: flex;
    width: max-content;
    margin: 0px auto;
    font-size: 36px;
    line-height: 42px;
    color: #1d1d1d;
}

.price-delivery {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-delivery p {
    font-size: 14px;
    line-height: 16px;
    color: #626262;
}

.hour {
    width: 100px;
    height: 32px;
    background: #262626;
    border-radius: 16px;
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.hour p {
    color: #ffffff;
}

.navigation {
    padding: 30.5px 0px;
    width: auto;
    background: #FFFFFF;
    border: 1px solid rgba(117, 117, 117, 0.2);
}

.navigation li {
    display: inline-block;
    justify-content: space-between;
}

.navigation a {
    color: #626262;
    padding-right: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    align-items: flex-end;
}

.navigation a:hover {
    color: #327430;
}

.subject {
    margin-top: 56px;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #1D1D1D;
}

.menu_wrap {
    margin-top: 32px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-bottom: 31px;
}

.product_wrap {
    display: inline-block;
    height: 160px;
    width: 470px;
    background: #F2F2F2;
    border: 1px solid rgba(117, 117, 117, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 49px;
    margin-right: 16px;
}

.product_wrap:nth-child(2n) {
    margin-right: 0px;
}

.product_wrap img {
    float: right;
    height: 159px;
}

.product_wrap span {
    font-size: 13px;
    line-height: 21px;
    color: #626262;
}

.eats {
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    float: left;
    width: max-content;
    height: 100px;
    padding: 16px 16px;
    position: relative;
}

.price_eats {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #1D1D1D;
    position: absolute;
    bottom: 0;
    left: 16px;
}

@media screen and (max-width: 768) {
    .box-container {
        max-width: 768px;
    }
    .name_restaurant_wrap {
        width: 356px;
    }
    .hour {
        width: 94px;
    }
    .product_wrap {
        width: 752px;
        display: block;
        margin: 0px 0px 32px 0px;
    }
    .information {
        margin-right: 80px;
    }
}